@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap");

body {
  background-color: #2c3e50;
}

.clock-all {
  width: 100%;
  margin-top: 300px;
}

.button {
  cursor: pointer;
}

h1 {
  color: tomato;
}

h4 {
  color: #f6a10b;
}

li {
  display: flex;
  margin-right: 25px;
  text-align: center;
  font-size: 30px;
}

li button {
  background: none;
  border: none;
  color: #539732;
  font-size: 30px;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
}
li button:nth-child(3) {
  background: none;
  border: none;
  color: #9e2626;
  font-size: 30px;
  margin-left: 10px;
  outline: none;
  cursor: pointer;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Code Pro", monospace;
  font-size: 40px;
}
.dolist_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Doinput {
  padding: 5px;
  font: bold 0.6em sans-serif;
  border: 3px solid #f81069;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: "Source Code Pro", monospace;
  color: skyblue;
  font-size: 20px;
}

.Doinput::placeholder {
  text-align: center;
  color: #9d78f1;
  font-size: 20px;
}

.dolist {
  font-family: "Source Code Pro", monospace;
  color: #dbae9a;
}

.Nainput {
  margin-bottom: 20px;
  padding: 5px;
  font: bold 0.6em sans-serif;
  border: 3px solid #f81069;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: "Source Code Pro", monospace;
  color: skyblue;
}

.Nainput::placeholder {
  text-align: center;
  color: #1ed415;
  font-size: 20px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather {
  display: flex;
  justify-content: flex-end;
  font-family: "Source Code Pro", monospace;
  color: greenyellow;
}
